# Análisis EDA y Decisiones de Negocio en Ventas de Automóviles

Este notebook contiene 15 ejercicios que combinan análisis exploratorio de datos (EDA) y reflexiones críticas de negocio. Cada punto incluye instrucciones detalladas, paso a paso, para realizar agrupaciones y filtros, de modo que se guíe al estudiante en cada parte del proceso.

La estructura del dataset es la siguiente:

```
year, make, model, trim, body, transmission, vin, state, condition, odometer, color, interior, seller, mmr, sellingprice, saledate
```

¡Comienza el análisis y sigue cada paso para proponer estrategias de negocio basadas en los resultados!

In [ ]:
# Descargar y descomprimir el dataset
!wget https://github.com/javierherrera1996/lecture_analytics/raw/main/cars_dataset.zip
!unzip -o cars_dataset.zip

--2025-03-13 20:20:55--  https://github.com/javierherrera1996/lecture_analytics/raw/main/cars_dataset.zip
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/javierherrera1996/lecture_analytics/main/cars_dataset.zip [following]
--2025-03-13 20:20:55--  https://raw.githubusercontent.com/javierherrera1996/lecture_analytics/main/cars_dataset.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19753181 (19M) [application/zip]
Saving to: ‘cars_dataset.zip’

cars_dataset.zip    100%[===================>]  18.84M   117MB/s    in 0.2s

2025-03-13 20:20:55 (117 MB/s) - ‘cars_dataset.zip’ saved [19753181/19753181]

Archive:  cars_dataset.zip
  inflating: car_prices.csv

## 1. Dimensiones y Representatividad del Dataset

a) Carga el dataset (desde un archivo CSV) y muestra sus dimensiones (número de filas y columnas).

b) Describe brevemente qué representa cada fila y reflexiona: ¿Crees que el dataset es representativo del mercado de ventas de automóviles? Justifica tu respuesta.

a. Hay 558.837 filas y 16 columnas

b. Los aspectos de la fila son: year, make, model, trim, body, transmission, vin, state, condition, odometer, color, interior, seller, mmr, sellingprice, saledate.

El data set es representativo del mercado de ventas de automoviles ya que incluye una variedad de atributos sobre los automoviles y tambien tiene bastante informaión lo cual nos da una amplia cobertura del mercado.

In [ ]:
import pandas as pd

data = pd.read_csv('car_prices.csv')

In [ ]:
data.shape

(558837, 16)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

## 2. Ventas Totales y Promedio

a) Calcula la suma total y el promedio de la columna `sellingprice`.

b) Caso de negocio: Si el precio promedio es bajo, ¿qué estrategias de precio o promociones sugerirías para aumentar la rentabilidad? Explica tu respuesta.

Para aumentar la rentabilidad se podria ver que modelos de vehiculos son los que mas se demandan y ofrecer mas este modelo, tambien recomendaria ofrecer productos complementarios al automovil como seguros contra accidentes o robos y servicios de mantenimiento.

In [ ]:
data['sellingprice'].sum()

7606367587.0

In [ ]:
data['sellingprice'].mean()

13611.358810003132

## 3. Distribución de Ventas por Marca

a) Utiliza `value_counts()` para determinar cuántas ventas se registraron por cada marca (`make`).

b) Caso de negocio: ¿Qué marcas parecen dominar el mercado? Basado en esta distribución, ¿en qué marcas invertirías en publicidad y por qué?

Las marcas que dominan en el mercado son Ford, Chevrolet y Nissan al tener mas de 50 mil ventas.

Basado en los datos proporcionados invertiria en publicidad en las marcas menos adquiridas pero en especial en dos, en ford tk y en chev truck, ya que podemoss hacer una estrategia de promoción uilizando el apalancamiento de marca ya que Ford y Chevrolet son las marcas más vendidas por lo tanto los clientes tendran confianza para adquirir otra referencia de la marca base.

In [ ]:
data['make'].value_counts()

make
Ford          93554
Chevrolet     60197
Nissan        53946
Toyota        39871
Dodge         30710
              ...
airstream         1
ford tk           1
chev truck        1
hyundai tk        1
Lotus             1
Name: count, Length: 96, dtype: int64

## 4. Segmentación de Clientes por Kilometraje

a) Crea un DataFrame filtrado que incluya únicamente las ventas donde el `odometer` es menor a 20,000 millas. Cuantos Vehiculos tiene este dataset?

b) Caso de negocio: Este segmento de vehículos con bajo uso puede tener mayor valor percibido. ¿Cómo ajustarías la estrategia de marketing para este grupo?

Hay 84.206 vehiculos que tienen menos de 20.000 millas.

Como estrategia de marketing para este tipo de vehiculo, usaria publicidad que resaltara su oferta de valor que en este caso es que tienen muy pocas millas recorridas y al venderlos tendria un solo segmento o espacio donde se encuentren este tipo de vehiculos para que los perciban con mayor exclusividad.

In [ ]:
dataodometer = data[data['odometer'] < 20000]
dataodometer.shape

(84206, 16)

## 5. Agrupación por Marca: Precio y Volumen

a) Agrupa el dataset por `make` y calcula:
   - El promedio de `sellingprice`.
   - La cantidad de ventas por marca (usa el conteo de registros como proxy).

b) Caso de negocio: Si una marca tiene alto volumen pero precios bajos, ¿qué medidas recomendarías para mejorar el margen?

**Paso a paso:**
1. Realiza la agrupación.
2. Renombra las columnas para que sean claras.
3. Interpreta el resultado antes de pasar al siguiente filtro o análisis.

b. Si una marca tiene alto volumen de ventas aprovecharia a incrementar su precio progresivamente para que la demanda continue sin que se vea afectada por un cambio agresivo en el precio, tambien se podria evaluar los costos de producción, y reforzar en la publicidad los elementos que le agregan valor al producto para que los clientes no sientan que estan pagando más.

In [ ]:
grupomake=data.groupby("make").agg({"sellingprice":"mean","make":"count"})

In [ ]:
grupomake=grupomake.rename(columns={"sellingprice":"precio_venta_promedio","make":"cantidad_de_ventas"})

In [ ]:
grupomake

              precio_venta_promedio  cantidad_de_ventas
make
Acura                  14017.268260                5901
Aston Martin           54812.000000                  25
Audi                   19915.432782                5869
BMW                    21441.895748               20719
Bentley                74367.672414                 116
...                             ...                 ...
subaru                  3710.416667                  60
suzuki                  4810.000000                   5
toyota                  7339.105263                  95
volkswagen              6145.833333                  24
vw                     13672.916667                  24

[96 rows x 2 columns]

## 6. Análisis de Rentabilidad por Marca

a) Crea una nueva columna `profit` que sea la diferencia entre `mmr` y `sellingprice`.
b) Agrupa por `make` y calcula el beneficio promedio para cada marca.

c) Caso de negocio: Identifica las 5 marcas con mayor beneficio promedio y explica qué acciones estratégicas implementarías (por ejemplo, renegociar precios o invertir en calidad).

Las 5 marcas con mayor beneficio promedio son: Fisher, Ferrari, Plymouth, Bentley y Porsche.

Para que estas marcas sigan mateniendo su alto beneficio, recomendaria reforzar aun más el mensaje de exclusividad y lujo en su publicidad, crearia experiencias vip o unicas para sus clientes para que asi creen fidelidad y pertenencia a la marca y conviertan la adquisición de estos vehiculos como un estilo de vida.

In [ ]:
data['profit'] = data['mmr'] - data['sellingprice']

In [ ]:
data.groupby('make')['profit'].mean().sort_values(ascending=False)

make
Fisker           2638.888889
Ferrari          2000.000000
Plymouth         1577.500000
Bentley          1560.775862
porsche          1419.736842
                    ...
Lotus            -500.000000
mazda tk        -1125.000000
Lamborghini     -1125.000000
Aston Martin    -1252.000000
airstream      -41500.000000
Name: profit, Length: 96, dtype: float64

## 7. Análisis Temporal: Ventas del Año 2015

a) Filtra el dataset para obtener únicamente las ventas del año 2015 y muestra las primeras 10 filas. Cuantos Vehiculos tiene esta dataset


b) Caso de negocio: Si 2015 muestra comportamientos atípicos en comparación con otros años, ¿deberías ajustar la estrategia basándote en tendencias actuales? Explica tu criterio.

a. Hay 9437 vehiculos en el dataset de evntas de vehiculos en el año 2015.

b. Si se debe ajustar la estrategia basandonos en los comportamientos y tendencias actuales que existen ya que sin adaptabilidad la empresa se enfrentara a muchos riesgos, por eso año a año hay que ver los comportamientos que tiene el mercado para el año siguiente, pero no tener como referencia años pasados ya que el comportamiento del consumidor y de la economia siempre estan en constante cambio.

In [ ]:
data2015 = data[data['year']==2015]
data2015.head(10)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate,profit
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),-1000.0
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),-700.0
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST),-250.0
5,2015,Nissan,Altima,2.5 S,Sedan,automatic,1n4al3ap1fn326013,ca,1.0,5554.0,gray,black,enterprise vehicle exchange / tra / rental / t...,15350.0,10900.0,Tue Dec 30 2014 12:00:00 GMT-0800 (PST),4450.0
11,2015,Kia,Optima,LX,Sedan,automatic,5xxgm4a73fg353538,ca,48.0,2034.0,red,tan,kia motors finance,15150.0,17700.0,Tue Dec 16 2014 12:00:00 GMT-0800 (PST),-2550.0
12,2015,Ford,Fusion,SE,Sedan,automatic,3fa6p0hdxfr145753,ca,2.0,5559.0,white,beige,enterprise vehicle exchange / tra / rental / t...,15350.0,12000.0,Tue Jan 13 2015 12:00:00 GMT-0800 (PST),3350.0
13,2015,Kia,Sorento,LX,SUV,automatic,5xyktca66fg561407,ca,5.0,14634.0,silver,black,kia motors america inc,20600.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),-900.0
15,2015,Nissan,Altima,2.5 S,Sedan,automatic,1n4al3ap5fc124223,ca,2.0,11398.0,black,black,enterprise vehicle exchange / tra / rental / t...,14750.0,14100.0,Tue Dec 23 2014 12:00:00 GMT-0800 (PST),650.0
16,2015,Hyundai,Sonata,SE,Sedan,automatic,5npe24af4fh001562,ca,NaN,8311.0,red,—,avis tra,15200.0,4200.0,Tue Dec 16 2014 13:00:00 GMT-0800 (PST),11000.0
20,2015,Chevrolet,Impala,LTZ,Sedan,automatic,2g1165s30f9103921,ca,19.0,14538.0,silver,black,enterprise vehicle exchange / tra / rental / t...,24300.0,7200.0,Tue Jul 07 2015 09:30:00 GMT-0700 (PDT),17100.0

In [ ]:
data2015.shape

(9437, 17)

## 8. Comparación por Tipo de Carrocería

a) Agrupa por la columna `body` y calcula el promedio de `sellingprice` para cada tipo.

b) Caso de negocio: Determina qué tipo de carrocería tiene mayor precio promedio y argumenta cómo podrías aprovechar esta información para posicionar una línea premium o ajustar el inventario.

b. La carroceria con mayor precio prmedio es Gran turismo Convertible, esto es muy bueno ya que podemos posicionar este tipo de vehiculo como una opción premium resaltando sus atributos mas utiles o diferentes al resto, enfatizando la publicidad en aspectos claves que valoran los clientes como el rendimiento, la eficiencia y la calidad en los materiales. Asi veran el vehiculo como un lujo o como alta gama.

In [ ]:
data.groupby('body')['sellingprice'].mean().sort_values(ascending=False)

body
granturismo convertible    79041.666667
GranTurismo Convertible    74000.000000
CTS-V Wagon                50500.000000
cts-v coupe                39707.142857
CTS-V Coupe                38425.750000
                               ...
Xtracab                     5818.750000
xtracab                     5250.000000
Club Cab                    4650.064103
Cab Plus                    2825.000000
Ram Van                     1200.000000
Name: sellingprice, Length: 87, dtype: float64

## 9. Filtros Combinados para un Caso Específico

a) **Paso 1:** Agrupa los datos por `state`, `model` y calcula el promedio de `sellingprice` para ver cuál es el precio promedio por combinación.

b) **Paso 2:** Utiliza el resultado del agrupamiento para filtrar el dataset original. Por ejemplo, filtra los registros de un estado ('ca') y un modelo ('Sorento') cuyo `sellingprice` supere el precio promedio calculado.

c) Caso de negocio: Analiza este segmento y plantea qué acciones implementarías para potenciar las ventas en California, considerando el modelo y el segmento premium.

c. Considerando que en el estado de California el modelo i8 de la marca BMW tiene como precio de venta promedio 154250.000000 y son vehiculos considerados premium o de alta gama, para lograr venderlos a un precio mayor a este recomendaria agregar productos complementarios que a su vez agreguen mayor valor al auto como lo son accesorios o colores exclusivos de vehiculo.

In [ ]:
data.groupby(['state','model'])['sellingprice'].mean().sort_values(ascending=False)

state  model
fl     458 Italia    183000.000000
       i8            162000.000000
       Ghost         160333.333333
       SLS AMG GT    156500.000000
ca     i8            154250.000000
                         ...
mi     G20              200.000000
pr     Sable            150.000000
ca     Paseo            150.000000
hi     Freestar         100.000000
       Montana          100.000000
Name: sellingprice, Length: 16144, dtype: float64

In [ ]:
data[(data["state"]=="ca")&(data["model"]=="i8")&(data["sellingprice"]>154250.000000)]

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate,profit
146917,2014,BMW,i8,Base,Coupe,automatic,wby2z2c59evx64214,ca,5.0,60.0,white,brown,ferrari of orange county,176000.0,165000.0,Thu Jan 15 2015 04:00:00 GMT-0800 (PST),11000.0
239360,2014,BMW,i8,Base,Coupe,automatic,wby2z2c57evx64633,ca,48.0,124.0,white,black,pacoima motors,172000.0,160000.0,Thu Feb 12 2015 12:30:00 GMT-0800 (PST),12000.0
301118,2014,BMW,i8,Base,Coupe,automatic,wby2z2c50evx64103,ca,5.0,603.0,white,beige,high bid trading co inc,163000.0,158000.0,Thu Feb 12 2015 04:00:00 GMT-0800 (PST),5000.0
363766,2014,BMW,i8,Base,Coupe,automatic,wby2z2c58evx64401,ca,44.0,303.0,white,gray,phelps auto sales,161000.0,161000.0,Thu Feb 26 2015 04:30:00 GMT-0800 (PST),0.0

## 10. Ventas Totales por Estado

a) Agrupa por `state` y calcula la suma de `sellingprice` para cada estado.

b) Caso de negocio: Identifica el estado con mayores ventas totales y discute cómo enfocar campañas de marketing o ampliar la red de distribución en ese estado.

Las campañas de marketing podrian concentrarse en medios locales del estado como la televisión estatal, radio o periodicos. Tambien identificar en que zonas del estado estan las personas con mayor poder adquisitivo para que esos lugares sean los focos de publicidad y tambien por estas zonas se puedan abrir nuevas tiendas o puntos de venta.

In [ ]:
data.groupby('state')['sellingprice'].sum().sort_values(ascending=False)

state
fl                   1.151065e+09
ca                   1.061078e+09
pa                   8.612346e+08
tx                   6.064954e+08
ga                   4.489274e+08
                         ...
3vwd17aj2fm258506    1.330000e+04
3vwd17aj4fm201708    1.320000e+04
3vwd17aj3fm276741    1.320000e+04
3vwd17aj5fm225953    1.320000e+04
3vwd17aj8fm239622    1.320000e+04
Name: sellingprice, Length: 64, dtype: float64

## 11. Rentabilidad por Estado

a) Agrupa por `state` y calcula el promedio de eficiencia operativa. Como no contamos con 'Operating Margin', usa como proxy `profit/sellingprice`.

b) Caso de negocio: Identifica el estado con mayor eficiencia operativa y sugiere estrategias para replicar ese éxito en otros mercados.

El estado con mayor eficiencia operativa es New México, para lograr replicar este éxito en otros mercados, recomendaria adaptar las estrategias de maketing que este utilizando este estado en los demás, considerando los gustos o caracteristicas de los consumidores en estos lugares, tambien ajustaria los precios y los costos operativos para lograr un balance sin obviamente afectar la calidad de los vehiculos.

In [ ]:
data["operatingmargin"]=data["profit"]/data["sellingprice"]

In [ ]:
data.groupby('state')['operatingmargin'].mean().sort_values(ascending=False)

state
nm                   1.178797
tx                   0.565770
hi                   0.429630
ny                   0.320112
md                   0.292650
                       ...
3vwd17aj7fm326640         NaN
3vwd17aj8fm239622         NaN
3vwd17aj8fm298895         NaN
3vwd17aj9fm219766         NaN
3vwd17ajxfm315938         NaN
Name: operatingmargin, Length: 64, dtype: float64

## 12. Análisis por Tipo de Transmisión (en lugar de Sales Method)

a) Agrupa el dataset por `transmission` y calcula:
   - La suma de `sellingprice` para cada tipo.
   - El promedio de `sellingprice` para cada tipo.

b) Caso de negocio: ¿Qué tipo de transmisión (automática vs. manual) genera mayores ingresos y qué implicaciones tiene para la estrategia comercial?

In [ ]:
data.groupby('transmission')['sellingprice'].sum().sort_values(ascending=False)

transmission
automatic    6.443934e+09
manual       1.966936e+08
sedan        2.047500e+05
Sedan        1.505500e+05
Name: sellingprice, dtype: float64

In [ ]:
data.groupby('transmission')['sellingprice'].mean().sort_values(ascending=False)

transmission
Sedan        13686.363636
sedan        13650.000000
automatic    13540.406866
manual       11211.448358
Name: sellingprice, dtype: float64

## 13. Segmentación por Producto Líder

a) Identifica el producto (utiliza la columna `model` como proxy) con mayor cantidad de unidades vendidas. Agrupa por `model` y usa el conteo de registros.

b) Caso de negocio: Si un producto lidera en ventas, ¿cómo ajustarías el inventario y las promociones para maximizar las ganancias?

b. Si un producto lidera en ventas, para maximizar ganancias se debe optimizar el inventario y ajustar los precios estratégicamente: Para optimizar inventarios se debe asegurar el abastecimiento con proyecciones de demanda, acuerdos con proveedores y control de stock óptimo, tambien aumentaria los precios si la demanda lo permite, ofreciendo versiones premium. En las promociones reduciria los descuentos innecesarios, impulsaria compras repetidas con programas de lealtad y usaria campañas de escasez para generar urgencia.

In [ ]:
data.groupby('model')['model'].count().sort_values(ascending=False)

model
Altima     19349
F-150      14479
Fusion     12946
Camry      12545
Escape     11861
           ...
Paseo          1
Q3             1
Ram Van        1
Regency        1
1              1
Name: model, Length: 973, dtype: int64

## 14. Comparación Crítica entre Retailers

a) Compara dos retailers usando la columna `seller` en cuanto a volumen de ventas y margen de beneficio (usa `profit` como proxy).

b) Caso de negocio: Si un retailer muestra mayores unidades vendidas pero un margen inferior, ¿qué estrategia recomendarías (por ejemplo, optimización de costos, cambio en política de descuentos, etc.)? Justifica tu propuesta.

**Paso a paso:**
1. Agrupa por `seller` y calcula la suma de `sellingprice` y el promedio de `profit`.
2. Ordena los resultados para identificar los líderes en volumen y analiza el margen.
3. Propón una estrategia basada en los resultados.

b. Si un retailer vende muchas unidades pero tiene un margen bajo, significa que los costos son altos, los precios son demasiado bajos o hay demasiados descuentos. Para mejorar la rentabilidad, reduciria costos negociando con proveedores, para mejorar logística y automatizar procesos. Tambien controlaria los descuentos limitando promociones innecesarias y aplicando precios dinámicos.
Estas estrategias ayudan directamente con el problema del margen sin afectar negativamente el volumen de ventas. Reducir costos aumenta la rentabilidad sin subir precios, mientras que ajustar la estrategia de descuentos y precios protege el margen sin perder competitividad.

In [ ]:
data.groupby('seller').agg({'sellingprice':'sum','profit':'mean'}).sort_values(by='sellingprice',ascending=False)

                                  sellingprice       profit
seller
ford motor credit company llc      340960125.0   216.393122
nissan-infiniti lt                 272104560.0   -70.225969
the hertz corporation              250863168.0   189.344063
nissan infiniti lt                 216158321.0    92.654989
avis corporation                   203432330.0   -20.590510
...                                        ...          ...
bell auto sales                          200.0   250.000000
alberta truck & auto liquidators         200.0   150.000000
beaverton honda                          200.0  1100.000000
bcaa/company cars                        200.0   600.000000
kfl llc                                    0.0          NaN

[14263 rows x 2 columns]

## 15. Caso Integrador: Estrategia Comercial Global

a) **Paso 1:** Identifica cada criterio basado en los análisis anteriores:
   - **Retailer con mayores ventas totales:** Usa la columna `seller` del resumen de retailers.
   - **Estado con mayores ventas totales:** Del agrupamiento por `state`.
   - **Producto con mayor unidades vendidas:** Usa la columna `model`.
   - **Tipo de transmisión con mayores ventas totales:** Agrupa por `transmission`.

b) **Paso 2:** Filtra el dataset original usando cada uno de estos criterios, uno a uno, y luego combínalos en un filtro final.

c) Con base en el análisis combinado, redacta un breve informe (3-4 líneas) proponiendo una estrategia comercial integral para maximizar la rentabilidad, considerando inversión en canales, promociones específicas y optimización de inventario.

d) Caso de negocio: Utiliza la integración de estos criterios para definir en qué segmento enfocar la estrategia global.

c. Para maximizar la rentabilidad concentraria la inversión en el estado de Florida ya que es el que mas ventas tiene, donde tambien se encuentra el retailer con mayor volumen de ventas, tambien haria promociones especificas para impulsa la venta del modelo con mayores ventas y que tenga transmision automatica ya que son las caracteriticas que mas demanda el mercado, finalmente optimizaria mi inventario para asi adaptarnos a la demanda.

d. La estrategia global la enfocaria en el segemtno de conumidores que prefieren un tipo con transmision automatica que les gusta el modelo Altima, que se vende en el retailer "Ford motor credit company llc" y que se encuentre en el estado de Florida. Ya que alli se encuentra el mayor potencial de ventas y rentabilidad.

In [ ]:
retailer= data.groupby('seller')['sellingprice'].sum().sort_values(ascending=False)

In [ ]:
retailer

seller
ford motor credit company llc       340960125.0
nissan-infiniti lt                  272104560.0
the hertz corporation               250863168.0
nissan infiniti lt                  216158321.0
avis corporation                    203432330.0
                                       ...
bell auto sales                           200.0
alberta truck & auto liquidators          200.0
beaverton honda                           200.0
bcaa/company cars                         200.0
kfl llc                                     0.0
Name: sellingprice, Length: 14263, dtype: float64

In [ ]:
statemayor = data.groupby('state')['sellingprice'].sum().sort_values(ascending=False)

In [ ]:
statemayor

state
fl                   1.151065e+09
ca                   1.061078e+09
pa                   8.612346e+08
tx                   6.064954e+08
ga                   4.489274e+08
                         ...
3vwd17aj2fm258506    1.330000e+04
3vwd17aj4fm201708    1.320000e+04
3vwd17aj3fm276741    1.320000e+04
3vwd17aj5fm225953    1.320000e+04
3vwd17aj8fm239622    1.320000e+04
Name: sellingprice, Length: 64, dtype: float64

In [ ]:
productomayor = data.groupby('model')['model'].count().sort_values(ascending=False)

In [ ]:
productomayor

model
Altima     19349
F-150      14479
Fusion     12946
Camry      12545
Escape     11861
           ...
Paseo          1
Q3             1
Ram Van        1
Regency        1
1              1
Name: model, Length: 973, dtype: int64

In [ ]:
tipotransmision = data.groupby('transmission')['sellingprice'].sum().sort_values(ascending=False)

In [ ]:
tipotransmision

transmission
automatic    6.443934e+09
manual       1.966936e+08
sedan        2.047500e+05
Sedan        1.505500e+05
Name: sellingprice, dtype: float64

In [ ]:
combinadofinal=data[(data["seller"]=="ford motor credit company llc")&(data["state"]=="fl")&(data["model"]=="Altima")&(data["transmission"]=="automatic")].reset_index(drop=True)

In [ ]:
combinadofinal

Empty DataFrame
Columns: [year, make, model, trim, body, transmission, vin, state, condition, odometer, color, interior, seller, mmr, sellingprice, saledate, profit, operatingmargin]
Index: []